# Cloudflare D1 Configuration
CLOUDFLARE_ACCOUNT_ID=923e48902005bc33559c2c5583e5eeeb
CLOUDFLARE_DATABASE_ID=2a6af808-f142-4edc-a959-d5e9b8b0fb05
CLOUDFLARE_API_TOKEN=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=vj0gqfr2
VITE_CLOUDINARY_UPLOAD_PRESET=tucatalogo_preset

# Supabase Configuration
VITE_SUPABASE_URL=https://guhujopfymyspqwxuemu.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

